/* .start-record {
  margin: 12px;
}
.audio-record-main-div {
  display: flex;
  flex-direction: column;
}
.audio-rec {
  display: flex;
  flex-direction: row;
}
.audio-tag {
  margin-right: 12px;
  border-radius: 5px;
  border-top-right-radius: 5px;
}
.button-audio-rec {
  height: 50px;
  width: 70px;
  background-color: red;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
} */
