* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Yekan;
  font-size: 14px;
  direction: rtl;
  line-height: 1.8em;
}
body {
  /* background-color: #ffffff; */
  margin-top: 20px;
}
li {
  text-align: -webkit-match-parent;
}
ul {
  display: block;
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
