.showAllDiseasesBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  cursor: pointer;
  border: 1px solid #e6e9eb;
  outline: 0;
  padding: 4px 8px;
  margin: 0 25% 0 25%;
  background-color: #7d6bbd;
  border-radius: 50px;
  width: 50%;
  border-color: none;
  font-size: 12px;
  color: #ffffff;
  transition: all 0.4s linear;
}
.showAllDiseasesBtn:hover {
  background-color: #563bba;
}
.showAllDiseasesBtn {
  cursor: pointer;
}
#showAllDiseasesBtn__show_all_text {
  text-align: center;
  background-color: #7d6bbd;
}
.showAllDrBtn__show_all_text {
  text-align: center;
  background-color: #7d6bbd;
}
.diseases_filters_container .active {
  background-color: #08b89d !important;
  color: #fff !important;
  border-color: #08b89d !important;
}
