
 .sidebar-item1{
    margin-bottom: 30px;
}
.sidebar-containar
{
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #9f74f2;
    height: 300px;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    
    top: 0; 

}
.section-sidebar
{
    flex: 5;
}

.div-sidebar-cont
{
    border-top-left-radius: 50%;
}
.css-1wvake5
{
    /* min-width: none !important; */
    /* width: 200px !important; */
    position: sticky !important; 
    align-self: first baseline;
    justify-self: center;
    text-align: center;
    
    /* top: 0 !important; */
 }
 /* .sidebar-div-menu
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 10px;
}  */
.ps-sidebar-container
{
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
.psytech-sidebar
{
    font-size: 20px;
}
.div-sidebar-cont
{
    display: flex;
}
/*
.menu-item1
{
    font-size:50px;
}




.css-1wvake5
{
    min-width: none !important;
    width: 200px !important;
    position: sticky !important; */
    /* top: 0 !important; */
/* } */