.container {
  display: flex;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container > * {
  background-color: DodgerBlue;
  color: white;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.hoy {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.col-lg-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.ContentHeaderboxConsultant-text {
  text-align: right;
}
.header-title-Consultant-index {
  color: #032133;
  font-weight: 700;
  margin: 0 0 8px 0;
  line-height: 1.7em;
  display: inline-block;
}
