.card-img
{
    height: 200px;
}
.slider
{
    background-color:white;
    margin-top: 50px;
}
#test
{
    background-color: rgb(166, 105, 196);
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
}
.card-class
{
    border-radius: 20px;
    box-shadow:  0px 10px rgba(180, 180, 180 , 0.2);
}
.card-class:hover
{
    cursor: pointer;
    transform: rotate(0deg) scale(1) translateY(10px);
    transition: .5s all ease;
    z-index: 400;
   
}
.p-drslider
{
    font-size: x-large;
}