#logo
{
    width: 250px;
}
.a-non-decoration{
    text-decoration: none;
}
.icone-under-logo
{
    display: inline;
    padding: 3px;
}
.a-tags p{
    margin: 10px;
 }
.a-tags a:hover{
color: rgb(80, 80, 80);
text-decoration: none;
}
.a-tags p:hover{
    color: rgb(80, 80, 80);
    }
    
.contact-div p
{
    margin: 10px;
}