ul.MyMenu{
    padding:0;
    margin:0;
    list-style-type:none;
    overflow: hidden;
    display: inline;
    border-bottom:1px solid #757575 ;
   }

.list{
    margin-top: 12px;
    display: inline;
    float: right;
    padding:20px;
    color:#757575;
    border-bottom:1px solid #757575 ;
    transition: 0.3s;
    margin-top: 30px;
}


    
.list:hover{
    color:#734df3;
    border-bottom: 2px solid #7950fe;
    
}

.list:active{
    color:#734df3;
    border-bottom: 2px solid #7950fe;
    
}

.navbar-div {
   width: 100%;
   height: 120px;
   background-color: rgb(255, 255, 255);
   

}

#signup{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(252, 109, 171);
    border-width: 0px;
    margin-top: 45px;
    transition: 0.3s;
    margin-left: 45px;

    
}

#signup:hover{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: rgb(145, 77, 255);
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(145, 77, 255);
    margin-top: 45px;
}

#login{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: rgb(145, 77, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(145, 77, 255);
    border-width: 2px;
    margin-left: 10px;
    margin-top: 45px;
    transition: 0.3s;
}

#login:hover{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(153, 91, 213);
    border: none;
    margin-top: 45px;
}

.navbar-logo{
    float:right;
    width: 10%;
    height: 100px;
}
.navbar-check-btn{
    font-size: 30px;
    color: #734df3;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
}
#navbar-check{
    display: none;
}
.navbar-check-btn
{
    display: none;
}
@media screen and (max-width: 760px){
    /* .navbar-div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        padding: 1em;
    }
    .menu-ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .list{
        margin: 0 1rem;
        overflow: hidden;
    } */
    .navbar-check-btn
    {
        display: block;

    }
    .menu-ul 
    {
        position: relative;
        width: 100px;
        height: 100vh;
        background: #2c2c2c;
       
        top: 80px;
        text-align: center; 
        transition: all .5s;

    } 
    .navbar-logo
    {
        height: 50px;
        width: 20%;
    }
    .navbar-div ul li{
        display: block;
        font-size: 20px;
        line-height: 30px;
    }
    .list:hover,.list:active
    {
        background: #734df3;
        color: white;

    }
    #navbar-check:checked ~ ul
    {
        right: 0;
        
    }

}