ul.MyMenu{
    padding:0;
    margin:0;
    list-style-type:none;
    overflow: hidden;
    display: inline;
    border-bottom:1px solid #757575 ;
   }

.list{
    margin-top: 12px;
    display: inline;
    float: right;
    padding:20px;
    color:#757575;
    border-bottom:1px solid #757575 ;
    transition: 0.3s;
    margin-top: 30px;
}


    
.list:hover{
    color:#734df3;
    border-bottom: 2px solid #7950fe;
    
}

.list:active{
    color:#734df3;
    border-bottom: 2px solid #7950fe;
    
}

.navbar-div {
   width: 100%;
   height: 120px;
   background-color: rgb(255, 255, 255);
   

}

#signup{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(116, 54, 249);
    border-width: 0px;
    margin-top: 45px;
    transition: 0.3s;
    margin-left: 45px;

    
}

#signup:hover{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: rgb(145, 77, 255);
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-color: rgb(145, 77, 255);
    margin-top: 45px;
}

#login{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: rgb(145, 77, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(145, 77, 255);
    border-width: 2px;
    margin-left: 10px;
    margin-top: 45px;
    transition: 0.3s;
}

#login:hover{
    text-align: center;
    width:100px;
    height:45px;
    float: left;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgb(116, 54, 249);
    border: none;
    margin-top: 45px;
}

.navbar-logo{
    float:right;
    width: 10%;
    height: 100px;

}


