.logo{
    width: 25%;
    height:90%;
    bottom: 0;
}

navbar{
   box-shadow: 0,5px,10px,rgba(0, 0,0, 0.3);

}

.login{
    color: rgb(100, 68, 231) ;
    background-color: rgb(255, 255, 255) ;
    border-color:rgb(100, 68, 231) ;
    text-align: center;
    width:80px;
    height:35px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    
}

.login:hover{
    color: rgb(255, 255, 255) ;
    background-color: rgb(100, 68, 231);
    text-align: center;
    width:80px;
    height:35px;
    border-radius: 10px;
}

.signup{
    color: rgb(255, 255, 255) ;
    background-color: rgb(100, 68, 231) ;
    width:80px;
    height:35px;
    border-radius: 10px;
    text-align: center;
}

.signup:hover{
    color: rgb(100, 68, 231) ;
    background-color: rgb(100, 68, 231) ;
    width:80px;
    height:35px;
    border-radius: 10px;
    text-align: center;
}



Nav.Link:hover{
    color: rgb(100, 68, 231) ;
}

.i:hover{
    
}