.contain{
    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    height: 460px;
    width: 100%;
}

.pic{
    width:28%;
    height:430px;
    float: right;
    padding: 20px;
    margin-right: 25px;
}

#zoom{
   height: 15px;
   width:15px;
   float: right;
   
}

.searchbox{
    width:60%;
    height:250px;
    float:right;
    padding: 20px;
    align-items: center;
}

.p{
   align-content: center;
   align-self: center;
   align-items: center;
   font-size:xx-large;
   padding-bottom: 5px;
   margin-top: 20px;
}

.text{
    width: 800px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(68, 0, 255);
    border-radius: 30px;
    float: right;
    padding: 30px;
    margin-top: 50px;
}
