.contain{
    background-color: rgb(255, 255, 255);
    border: 3px solid #fff;
    height: 400px;
    width: 100%;
}

.pic{
    width:35%;
    height:80%;
    float: right;
    padding: 20px;
}

#zoom{
   height: 15px;
   width:15px;
   float: right;
   
}

.searchbox{
    width:60%;
    height:250px;
    float:right;
    padding: 20px;
    align-items: center;
}

.p{
    color: rgb(84, 84, 84);
   align-content: center;
   align-self: center;
   align-items: center;
}

.text{
    color: rgb(84, 84, 84);
    width: 600px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgb(68, 0, 255);
    border-radius: 30px;
    float: right;
    padding: 5px;
}