@font-face {
  font-family: YEKAN;
  src: url("./Components/fonts/Yekan.ttf") format("truetype");
  font-weight: 400;
}
.main-div-body {
  /* background-color: #f6f6f9; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: rgb(255, 255, 255) !important;
  color: rgb(50, 50, 50) !important;
  font-family: "YEKAN", sans-serif !important ;
}

.App {
  text-align: center;
} */
