@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* @font-face {
  font-family: "Yekan";
  src: url("fonts/Yekan.eot"); 
  src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype"),
     url("fonts/Yekan.woff2") format("woff2"),
    url("fonts/Yekan.woff") format("woff"),
   url("fonts/Yekan.otf") format("opentype"),
     url("fonts/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
} */
@font-face {
  font-family: "Yekan";
  src: url("fonts/Yekan.eot");
  src: url("fonts/Yekan.eot?#iefix") format("embedded-opentype"),
    url("fonts/Yekan.woff2") format("woff2"),
    url("fonts/Yekan.woff") format("woff"),
    url("fonts/Yekan.ttf") format("truetype"),
    url("fonts/Yekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: Yekan;
  font-size: 14px;
  direction: rtl;
  line-height: 1.8em;
}
body {
  background: #f8f8ff;
  margin-top: 20px;
}
li {
  text-align: -webkit-match-parent;
}
ul {
  display: block;
  list-style-type: none;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.ContentHeaderboxConsultant-text {
  text-align: right;
}
/* filter part */

@media (min-width: 768px) {
  .consultation-filter-header {
    text-align: right;
    border-bottom: 1px solid #ececec;
    padding: 16px 20px 8px 20px;
  }
  .boxConsultant-filter {
    position: unset;
    display: block;
    border-radius: 20px;
    -moz-box-shadow: 0 10px 20px #00000014;
    -o-box-shado: 0 10px 20px #00000014;
    -webkit-box-shadow: 0 10px 20px #00000014;
    box-shadow: 0 10px 20px #00000014;
  }
  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .box.boxConsultant {
    margin: 0 0 56px 0;
    padding: 0 !important;
  }
  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.col-md-3 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.boxConsultant-filter {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999999;
  width: 100%;
  padding: 0;
  margin-top: 1.5rem;
}
.float-right {
  float: right !important;
}
.consultation-filter-header {
  padding: 16px 16px 8px 16px;
  text-align: center;
}
.consultation-filter-header-caption {
  font-size: 16px;
  color: #032133;
  font-weight: 700;
  position: relative;
  top: -2px;
}
.filtered_now_list_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 8px;
}
.consultation-filter-body {
  border-radius: 20px;
  background-color: #fff;
  padding: 8px 0;
}
.consultation-filter-lists {
  overflow: hidden;
  border-bottom: 1px solid #ececec;
  padding: 16px 16px;
  width: 100%;
}
.header-title-Consultant-index {
  color: #032133;
  font-weight: 700;
  margin: 0 0 8px 0;
  line-height: 1.7em;
  display: inline-block;
}
.consultation-filter-item-caption {
  margin: 0 0 8px;
  text-align: right;
}
.consultation-filter-item-text {
  font-size: 16px;
  color: #032133;
  font-weight: 700;
}
.consultation-filter-item___container_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.consultation-filter-item__flex__filter:first-child {
  margin-right: 0 !important;
}
.consultation-filter-item__flex__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 4px;
}
.consultation-filter-input-radio:first-child {
  margin-right: -2px;
}
.consultation-filter-input-radio {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  border: 1px solid #4f6470;
  cursor: pointer;
}
.consultation-filter-input-radio:checked {
  background-color: #08b89d;
  border-color: #08b89d;
}

.consultation-filter-input {
  -webkit-appearance: none;
}
.consultation-filter-text {
  font-size: 14px;
  color: #03273c;
  cursor: pointer;
}
.consultation-filter-item__flex__filter > label {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: -4px;
}
.consultation-filter-item__flex__filter > svg {
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none !important;
  font-weight: 700;
}
.consultation-filter-item-diseases_input {
  background-color: #f4f5f7;
  padding: 10px 10px;
  border: none !important;
  outline: 0 !important;
  border-radius: 8px;
  width: 100%;
  margin: 8px 0;
}
.box.boxConsultant {
  width: 100%;
  float: right;
  padding: 0 20px;
  margin: 0 0 48px;
}
.float-left {
  float: left !important;
}
.diseases_filters_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.diseases_filters_container .diseases_filters_item {
  border: 1px solid #e6e9eb;
  outline: 0;
  padding: 4px 8px;
  margin: 4px 4px;
  background-color: transparent;
  border-radius: 999px;
  font-size: 12px;
  color: #4f6470;
  cursor: pointer;
  transition: all 0.4s linear;
}

.diseases_filters_item:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-1px);
}
/********************
    EMPLOYERS LIST
*********************/
.employers-list-bg {
  padding: 180px 0px 80px 0px;
  background-size: cover;
  position: relative;
  background-position: center center;
}

.employers-list-img img {
  max-width: 80px;
  -webkit-box-shadow: 0 0 5px 0px #d7d7d7;
  box-shadow: 0 0 5px 0px #d7d7d7;
}

.employers-icons li {
  margin: 0px !important;
}

/********************
   EMPLOYERS DETAILS
*********************/
.employers-details-bg {
  padding: 180px 0px 80px 0px;

  background-size: cover;
  position: relative;
  background-position: center center;
}

.employers-details {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.employers-share-job li a {
  height: 40px;
  width: 40px;
  color: #777777;
  text-align: center;
  font-size: 19px;
  display: inline-block;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 6px 0;
  transition: all 0.5s;
}

.employers-share-job li a:hover {
  background-color: #ff4f6c;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-color: #ff4f6c;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 3px 20px -8px #000000;
  box-shadow: 0 3px 20px -8px #000000;
}

@media (min-width: 200px) and (max-width: 768px) {
  .m-14 {
    margin: 14px 0px;
  }
}

@media (max-width: 425px) {
  .employers-details-time h6 {
    text-align: center !important;
  }
  .employers-details-item-border {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
  }
}

.list-grid-item {
  border: 1px solid #e3dbdbee;
  border-radius: 6px;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.list-grid-item:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(47, 47, 47, 0.09);
  box-shadow: 0 0 20px 0px rgba(47, 47, 47, 0.09);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-color: transparent;
}

.left-sidebar .card-body {
  border-bottom: 1px solid #ececec;
}

.custom-control {
  margin: 11px 20px;
}

.card-header {
  background-color: transparent;
  margin-bottom: 0 !important;
}
.pagination {
  flex-direction: row-reverse;
}
.pagination.job-pagination .page-link {
  border-radius: 50% !important;
  margin: 0 4px;
  height: 46px;
  width: 45px;
  line-height: 29px;
  text-align: center;
  color: #777777;
}

.page-item.active .page-link {
  background-color: #ff4f6c;
  border-color: #ff4f6c;
  color: #ffffff !important;
}
/* .col-lg-9 {
  background-color: #e0c5c5;
  width: 800px;
  right: 20%;
}
.col-lg-3 {
  position: relative;
  width: 20%;
  top: 5%;
  left: 80%;
}
.col-lg-9 {
  width: 80%;
}
.col-lg-4 {
  flex: 100%;
  max-width: 100%;
} */
/* .grid-list-desc {
  display: flex;
} */
.col-lg-9 {
  right: 2%;
}
.col-lg-3 {
  position: relative;
  width: 20%;
  top: 5%;
}
.mt-4 {
  border-radius: 20px;
}
.card {
  border-radius: 20px;
}
.col-lg-4 {
  flex: 100%;
  max-width: 100%;
}
.list-grid-item {
  display: flex;
}
.doctor-card-right-side {
  display: flex;
  flex-direction: column;
  flex: 6;
  justify-content: center;
  width: 50%;
}
.doctor-card-rating {
  background-color: #fff9e7;
  color: #e5a700;
  display: flex;
  align-items: center;
  width: 62px;
  height: 24px;
  padding: 8px;
  border-radius: 12px;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
}
.doctor-card-rating > i {
  font-size: 14px;
  margin-left: 8px;
}
.doctor-card-left-side {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  width: 50%;
}
.employers-list-img {
  position: relative;
  margin-left: 16px;
}
img {
  vertical-align: middle;
  border-style: none;
}
.grid-item-content {
  display: flex;
  width: 100%;
  padding: 24px;
  height: 200px;
}
.f-14 {
  font-size: 14px;
}
.row {
  display: flex;
}
.doctor-card-personal-info-container {
  display: flex;
}
.doctor-card-personal-info-name {
  color: #032133;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}
.doctor-card-personal-info-specialty {
  color: #4f6470;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
}
.doctor-card-personal-image {
  position: relative;
  margin-left: 16px;
}
.doctor-card-personal-image > img {
  width: 96px;
  height: 96px;
  display: flex;
  border-radius: 100%;
  object-fit: cover;
}
.doctor-card-personal-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin: 20px;
}
.doctor-card-business-info {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 15px;
  height: 50%;
}
.doctor-card-platform-info-container {
  display: flex;
  text-align: right;
  margin-right: 135px;
}
.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.doctor-card-detail-container {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  height: 10%;
}

/* .doctor-card-detail-view {
  background-color: transparent;
  border: none;
  color: #00c395;
} */
.doctor-card-business-info-title {
  font-weight: 300;
  font-size: 14px;
  color: #4f6470;
  text-align: right;
  margin-left: 4px;
}
.doctor-card-detail-view {
  display: flex;
  height: 5em;
  width: 150px;
  align-items: center;
  justify-content: center;
  background-color: #eeeeee4b;
  border-radius: 20px;
  letter-spacing: 1px;
  transition: all 0.2s linear;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  background: rgb(248 248 255);
}

.doctor-card-detail-view button > svg {
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  transition: all 0.4s ease-in;
}

.doctor-card-detail-view:hover > svg {
  font-size: 1.2em;
  transform: translateX(-2px);
}

.doctor-card-detail-view:hover {
  box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
  transform: translateY(-2px);
}
.doctor-card-business-info-value {
  font-weight: 500;
  font-size: 14px;
  color: #032133;
  text-align: right;
  margin-left: 4px;
}
/* .custom-control-input-checkbox {
  height: 18px;
  width: 18px;
  background-image: url(../_shared/images/unselectedcheckbox.svg);
  background-size: 16px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
} */
